/* -------------------------------- 

Variables

-------------------------------- */


/* COLOR */
$black: #000000;
$tuna: #4d4e53; 
$color-link-primary: #00458b;
$color-link-primary-visited: #313131;