/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
* {
  padding: 0;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
ul, ol {
  list-style-type: none;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* -------------------------------- 

Typography

-------------------------------- */
:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: Arial, sans-serif;
  --font-code: monospace;
  /* set base values */
  --text-base-size: 10px;
  --text-scale-ratio: 1.2;
  --text-base-weight: lighter;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.5;
  /* spacing values */
  --space-xxxs: 0.25em;
  --space-xxs:  0.375em;
  --space-xs:   0.5em;
  --space-sm:   0.75em;
  --space-md:   1.25em;
  --space-lg:   2em;
  --space-xl:   3.25em;
  --space-xxl:  5.25em;
  --space-xxxl: 8.5em;
  /* typography color*/
  --color-text: var(--tuna);
  --color-text-heading: var(--black);
  --color-link: var(--color-link-primary);
  --color-link-visited: var(--color-link-primary-visited);
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  font-weight: var(--text-base-weight);
}

h1, h2, h3, h4, form legend {
  font-weight: lighter;
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
  font-size: var(--text-lg);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-link-primary);
}

a:hover {
  color: var(--color-link-primary);
}

a:active {
  color: #000000;
}

a:visited {
  color: var(--color-link-visited);
}

b, strong {
  font-weight: bold;
}

.text-container h2, .text-container h3, .text-container h4 {
  margin-top: var(--space-sm);
}

.text-container ul, .text-container ol, .text-container p {
  margin-bottom: var(--space-md);
}

.text-container ul, .text-container ol {
  list-style-position: outside;
  padding-left: 24px;
}

.text-container ul {
  list-style-type: disc;
  line-height: var(--body-line-height);
}

.text-container ol {
  line-height: var(--body-line-height);
  list-style-type: circle;
}

.text-container ul li, .text-container ol li {
  line-height: var(--body-line-height);
}

.text-container em {
  font-style: italic;
}

.text-container u {
  text-decoration: underline;
}

code {
  font-family: var(--font-code);
}

/*
  media mixin
*/
/*
  MIXINS
*/
/* -------------------------------- 

Variables

-------------------------------- */
#nav__bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-width: 29em;
  overflow: hidden;
  border-right: 2px solid #99a2a2;
}

@media (max-width: 979px) {
  #nav__bar {
    width: 100%;
    z-index: 2;
  }
}

.nav__header {
  height: 7em;
  min-width: 27em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3em;
  background-color: #f7f7f7;
  border-bottom: 1px solid #99a2a2;
}

@media (max-width: 979px) {
  .nav__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 5px 5px -5px #99a2a2;
            box-shadow: 0 5px 5px -5px #99a2a2;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  min-width: 30em;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f7f7f7;
}

.nav__list .nav__item {
  min-height: 4em;
  padding-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #99a2a2;
}

.nav__list a {
  font-size: 1.6em;
  color: #4d4e53;
  width: 100%;
}

@media (max-width: 979px) {
  .nav__list {
    height: 200px;
    -webkit-box-shadow: 0 5px 5px -5px #99a2a2;
            box-shadow: 0 5px 5px -5px #99a2a2;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    -moz-transition: 0.8s opacity ease-in-out, 0.8s visibility ease-in-out, 0.8s background-color ease-in-out;
    -ms-transition: 0.8s opacity ease-in-out, 0.8s visibility ease-in-out, 0.8s background-color ease-in-out;
    -o-transition: 0.8s opacity ease-in-out, 0.8s visibility ease-in-out, 0.8s background-color ease-in-out;
    -webkit-transition: 0.8s opacity ease-in-out, 0.8s visibility ease-in-out, 0.8s background-color ease-in-out;
  }
  .nav__list.open-menu {
    opacity: 1;
    visibility: visible;
  }
}

#menu__toogle {
  display: none;
  position: absolute;
  top: 2em;
  left: 3em;
  width: 10em;
  height: 5em;
}

#menu__toogle #menu__input {
  display: none;
}

#menu__toogle .menu__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2rem;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #5e646a;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -moz-transition: border-color 0.5s linear;
  -ms-transition: border-color 0.5s linear;
  -o-transition: border-color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
}

#menu__toogle .menu__lable .menu__hamburger {
  position: relative;
  margin: 2px 0;
  display: inline-block;
  width: 80%;
  height: 4px;
  background-color: #5e646a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -moz-transition: background-color 0.5s linear, transform 0.5s linear;
  -ms-transition: background-color 0.5s linear, transform 0.5s linear;
  -o-transition: background-color 0.5s linear, transform 0.5s linear;
  -webkit-transition: background-color 0.5s linear, transform 0.5s linear;
}

@media (max-width: 979px) {
  #menu__toogle .menu__lable .menu__hamburger {
    background-color: gray;
    display: inline-block;
  }
}

@media (max-width: 979px) {
  #menu__toogle {
    display: block;
  }
}

body {
  background-color: #f7f7f7;
}

#main-doc {
  position: absolute;
  width: auto;
  margin-left: 31em;
  padding: 2em;
  color: #4d4e53;
}

@media (max-width: 979px) {
  #main-doc {
    width: auto;
    padding: 0 3em;
    margin: 0 auto;
    z-index: 1;
    top: 8em;
  }
}

@media (max-width: 480px) {
  #main-doc {
    width: auto;
    padding: 0 1em;
    margin: 0 auto;
    z-index: 1;
    top: 8em;
  }
}

#main-doc .main-section {
  line-height: 1.5em;
}

#main-doc .main-section header {
  color: #000000;
  font-size: var(--text-xxl);
}

#main-doc .main-section article {
  padding: 1em;
}

@media (max-width: 979px) {
  #main-doc .main-section article {
    padding: 1em 2em;
  }
}

@media (max-width: 480px) {
  #main-doc .main-section article {
    padding: 1em 0;
  }
}

#main-doc .main-section article p {
  margin: 1em 0;
}

#main-doc .main-section article ul {
  padding-left: 3em;
  font-size: var(--text-lg);
  list-style-type: disc;
  line-height: 1.5em;
}

#main-doc .main-section article ul li {
  margin: 1em;
}

#main-doc .main-section article ul li ul {
  list-style-type: circle;
  font-size: var(--text-sm);
}

@media (max-width: 979px) {
  #main-doc .main-section article ul li ul {
    padding-left: 1em;
  }
}

@media (max-width: 979px) {
  #main-doc .main-section article ul {
    padding-left: 1em;
  }
}

#main-doc .main-section article code {
  display: block;
  width: auto;
  position: relative;
  padding: 1.5em;
  margin: 1em;
  background-color: #c6c6c6;
  font-size: var(--text-md);
  font-family: var(--font-code);
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

@media (max-width: 979px) {
  #main-doc .main-section article code {
    width: 80%;
    padding: 1em;
    margin: 2em 1em;
  }
}
/*# sourceMappingURL=main.css.map */