#nav__bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-width: 29em;
  overflow: hidden;

  @include border-solid-direction(right, 2px, $border-menu-color);
  
  @include _979 {
    width: 100%;
    z-index: 2;
  }
}

.nav__header {
  height: 7em;
  min-width: 27em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3em;
  background-color: $backgorund-color-base;

  @include border-solid-direction(bottom, 1px, $border-menu-color);

  @include _979 {
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -5px $border-menu-color;
  }
}

.nav__list {
  display: flex;
  overflow: auto;
  min-width: 30em;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $backgorund-color-base;

  .nav__item  {
    min-height: 4em;
    padding-left: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include border-solid-direction(bottom, 1px, $border-menu-color);
  }

  a {
    font-size: 1.6em;
    color: $tuna;
    width: 100%;
  }

  @include _979 {
    & {
      height: 200px;
      box-shadow: 0 5px 5px -5px $border-menu-color;
      overflow: scroll;
      opacity: 0;
      visibility: hidden;
     
      @include transition(transition, $delay-transion-menu opacity $function-transion-menu, $delay-transion-menu visibility $function-transion-menu, $delay-transion-menu background-color $function-transion-menu);

      &.open-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

#menu__toogle {
  display: none; 
  position: absolute;
  top: 2em;
  left: 3em;
  width: 10em;
  height: 5em;

  #menu__input{
    display: none;
  }

  .menu__lable {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 2.5rem;
    height: 2rem;
    z-index: 1;
    cursor: pointer;
    @include border-solid( 2px, $chrysler-dark-quartz-gray);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    
    @include transition(transition, border-color .5s linear);

  
    .menu__hamburger {
      position: relative;
      margin: 2px 0;
      display: inline-block;
      width: 80%;
      height: 4px;
      background-color: $chrysler-dark-quartz-gray;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;

      @include transition(transition, background-color 0.5s linear, transform 0.5s linear);

      @include _979 {
        background-color: gray;
        display: inline-block;
       }
    }
  }

  @include _979 {
    display: block;
  }
}


